<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
body{
    margin: 0;
    padding: 0;
}
=======
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
/*
 * === Global style ===
 */

/* Body */
body {
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> refs/remotes/origin/main
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
