<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
footer{
    position: fixed;
    background-color: #00FF00; 
    height: 60px; 
    width: 100%; 
    bottom: 0;
}

footer > span{
    padding-left: 870px;
    height: 60px; 
    line-height: 60px; 
    white-space: nowrap;
}
=======
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
/*
 * === Footer style ===
 */

/* Footer */
footer {
	background-color: #00FF00;
	bottom: 0;
	height: 60px;
	position: absolute;
	width: 100%;
}

footer p {
	line-height: 30px;
	text-align: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> refs/remotes/origin/main
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
