footer{
    position: fixed;
    background-color: #00FF00; 
    height: 60px; 
    width: 100%; 
    bottom: 0;
}

footer > span{
    padding-left: 870px;
    height: 60px; 
    line-height: 60px; 
    white-space: nowrap;
}
