<<<<<<< HEAD
<<<<<<< HEAD
header{
    background-color: #FF0000;
    height: 70px; 
    width: 100%;
}
=======
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
/*
 * === Header style ===
 */

/* Header style */
header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
}
<<<<<<< HEAD
>>>>>>> refs/remotes/origin/main
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
