<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
body{
=======
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
/*
 * === Global style sheet ===
 */

/* Common Body style */ 
body {
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> refs/remotes/origin/main
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
=======
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
=======
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> refs/remotes/origin/main
=======
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
=======
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> 4844ee703cfb5bd7a177c06391ec0782b8c15677
