<<<<<<< HEAD
body{
=======
/*
 * === Global style ===
 */

/* Body */
body {
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
>>>>>>> refs/remotes/origin/main
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.container{
    display: flex;
    
    max-width: 1000px;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    margin: 30px auto;
}
=======
/* Container */
.container  {
    margin: 30px;
    max-width: 1000px;
    width: 100%;
}
>>>>>>> refs/remotes/origin/main
