body {
    color: #484848;
    font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;   
    max-width: 1000px;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    margin: 30px auto;
    border: 1px #484848;
    border-radius: 4px;
}
